In [2]:
import os
import glob
import pandas as pd
import numpy as np

my_path_SNOW = (r'D:\education\SPBU\river\SNOW_DATA\SNOW')                   # use your path

my_path_SMOW_W = (r'D:\education\SPBU\river\SNOW_DATA\SNOW_WALK')

my_path_SOIL_T = (r'D:\education\SPBU\river\SNOW_DATA\SOIL_T')

all_files_SNOW = glob.glob(os.path.join(my_path_SNOW, "*.txt"))

all_files_SNOW_W = glob.glob(os.path.join(my_path_SMOW_W, "*.txt"))

all_files_SOIL_T = glob.glob(os.path.join(my_path_SOIL_T, "*.txt"))

files = [all_files_SNOW, all_files_SNOW_W, all_files_SOIL_T]

### SNOW PROCESSING

In [25]:
all_files_SNOW[0]

'D:\\education\\SPBU\\river\\SNOW_DATA\\SNOW\\21432.txt'

In [26]:
SNOW = [pd.read_csv(f, header=None, delimiter=';', names = ['station', 'Y', 'M','d','SS4']) for f in all_files_SNOW]
SNOW_file_names = [f[-9:-4] for f in all_files_SNOW]
my_path_SNOW_RESULTS = (r'D:\education\SPBU\river\SNOW_DATA\SNOW\RESULTS_SNOW')

In [39]:
SNOW[0].head(5)

   station     Y  M  d   SS4
0    21432  1936  1  1  9999
1    21432  1936  1  2  9999
2    21432  1936  1  3  9999
3    21432  1936  1  4  9999
4    21432  1936  1  5  9999

In [ ]:
for i in range(len(SNOW)):
    SNOW[i].insert(loc = 0, column = 'date', value = pd.to_datetime(SNOW[i][['Y','M','d']].astype(str).agg('-'.join, axis=1), errors = 'coerce'))
    SNOW[i]['date'] = SNOW[i]['date'].dt.strftime('%d.%m.%Y')
    SNOW[i] = SNOW[i].drop(['station','Y','M','d'], axis = 1)
    SNOW[i].SS4 = SNOW[i].SS4 / 100
    SNOW[i].SS4 = SNOW[i].SS4.replace(99.99, -999)
    SNOW[i].to_csv(my_path_SNOW_RESULTS + '\{}.txt'.format(SNOW_file_names[i]), sep="\t", index = False)

### SOIL TEMPERATURE

In [5]:
SOIL = [pd.read_csv(f, header=None, delimiter='\s*;', names = ['station', 'Y', 'M','d','T0.00','T0.05','T0.10','T1.20','T1.60','T2.40','T3.20']) for f in all_files_SOIL_T]
SOIL_file_names = [f[-9:-4] for f in all_files_SOIL_T]
my_path_SOIL_RESULTS = (r'D:\education\SPBU\river\SNOW_DATA\SOIL_T\RESULTS_SOIL_T')

C:\Users\dmbrm\Miniconda3\envs\geo\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [6]:
for i in range(len(SOIL)):
    SOIL[i].insert(loc = 0, column = 'date', value = pd.to_datetime(SOIL[i][['Y','M','d']].astype(str).agg('-'.join, axis=1), errors = 'coerce'))
    SOIL[i]['date'] = SOIL[i]['date'].dt.strftime('%d.%m.%Y')
    SOIL[i] = SOIL[i].drop(['station','Y','M','d'], axis = 1)
    SOIL[i] = SOIL[i].replace(999.9, -999)
    SOIL[i].to_csv(my_path_SOIL_RESULTS + '\{}.txt'.format(SOIL_file_names[i]), sep="\t", index = False)

### SNOW WALKERS

In [41]:
SNOW_W = [pd.read_csv(f, header=None, delimiter='\s*;', names = ['station', 'Y', 'M','type', 'd','SS4', 'S2', 'S1']) for f in all_files_SNOW_W]
SNOW_W_file_names = [f[-9:-4] for f in all_files_SNOW_W]
my_path_SNOW_WALK_FIELD = (r'D:\education\SPBU\river\SNOW_DATA\SNOW_WALK\RESULTS_SNOW_WALK\FIELD') #1
my_path_SNOW_WALK_WOOD = (r'D:\education\SPBU\river\SNOW_DATA\SNOW_WALK\RESULTS_SNOW_WALK\WOOD') #2
my_path_SNOW_WALK_VALLEY = (r'D:\education\SPBU\river\SNOW_DATA\SNOW_WALK\RESULTS_SNOW_WALK\VALLEY') #3

C:\Users\dmbrm\Miniconda3\envs\geo\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [37]:
FIELD = []
VALLEY = []
WOOD = []
for i in range(len(SNOW_W)):
    FIELD = []
    VALLEY = []
    WOOD = []
    SNOW_W[i].insert(loc = 0, column = 'date', value = pd.to_datetime(SNOW_W[i][['Y','M','d']].astype(str).agg('-'.join, axis=1), errors = 'coerce'))
    SNOW_W[i]['date'] = SNOW_W[i]['date'].dt.strftime('%d.%m.%Y')
    SNOW_W[i] = SNOW_W[i].drop(['station','Y','M','d'], axis = 1)
    SNOW_W[i].SS4 = SNOW_W[i].SS4 / 100
    SNOW_W[i].S2 = SNOW_W[i].S2 * 1000
    SNOW_W[i] = SNOW_W[i].replace(np.NaN, -999)
    
    FIELD = SNOW_W[i][SNOW_W[i].type == 1]
    FIELD = FIELD.drop(['type'], axis = 1)
    FIELD.to_csv(my_path_SNOW_WALK_FIELD + '\{}.txt'.format(SNOW_W_file_names[i]), sep="\t", index = False)
    
    WOOD = SNOW_W[i][SNOW_W[i].type == 2]
    WOOD = WOOD.drop(['type'], axis = 1)
    WOOD.to_csv(my_path_SNOW_WALK_WOOD + '\{}.txt'.format(SNOW_W_file_names[i]), sep="\t", index = False)
    
    VALLEY = SNOW_W[i][SNOW_W[i].type == 3]
    VALLEY = VALLEY.drop(['type'], axis = 1)
    VALLEY.to_csv(my_path_SNOW_WALK_VALLEY + '\{}.txt'.format(SNOW_W_file_names[i]), sep="\t", index = False)

In [45]:
SNOW_W[0][SNOW_W[0].type == 3]

     station     Y  M  type   d   SS4    S2     S1
712    21802  1997  1     3  31  30.0  0.17   51.0
714    21802  1997  2     3  20  30.0  0.17   51.0
715    21802  1997  2     3  28  30.0  0.18   54.0
717    21802  1997  3     3  20  31.0  0.19   59.0
718    21802  1997  3     3  31  33.0  0.19   63.0
..       ...   ... ..   ...  ..   ...   ...    ...
910    21802  2006  5     3  10  49.0  0.26  127.0
911    21802  2006  5     3  15  48.0  0.27  130.0
912    21802  2006  5     3  20  45.0  0.28  126.0
913    21802  2006  5     3  25  39.0  0.28  109.0
914    21802  2006  5     3  31  33.0  0.29   96.0

[126 rows x 8 columns]

In [44]:
[SNOW_W[0].type == 3]

[0       False
 1       False
 2       False
 3       False
 4       False
         ...
 1129    False
 1130    False
 1131    False
 1132    False
 1133    False
 Name: type, Length: 1134, dtype: bool]